<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.ZhaoUserDao">

    <!--根据ID查询单个数据-->
    <!--get就是list-->
    <select id="get" resultType="com.example.demo.domain.Zhao_UserDO">
		select `user_id`,`username`,`name`from zhao_user where user_id = #{value}
	</select>
    <!--按照条件且分页查询多个数据-->
    <select id="list" resultType="com.example.demo.domain.Zhao_UserDO">
        select
        `user_id`,`username`,`name`
        from zhao_user
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="username != null and username != ''">and username = #{username}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
        </where>
--         更具不同情况分组,暂时关闭了
        <!--<choose>-->
            <!--<when test="sort != null and sort.trim() != ''">-->
                <!--order by ${sort} ${order}-->
            <!--</when>-->
            <!--<otherwise>-->
                <!--order by user_id desc-->
            <!--</otherwise>-->
        <!--</choose>-->
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>


    <!--查询所数据的个数,查出符合某种条件数据的个数-->
    <select id="count" resultType="int">
        select count(*) from zhao_user
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="username != null and username != ''">and username = #{username}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
        </where>
    </select>

    <!--添加一条数据-->
    <insert id="save" parameterType="com.example.demo.domain.Zhao_UserDO" useGeneratedKeys="true" keyProperty="userId">
		insert into zhao_user
		(
			`username`, 
			`name`
		)
		values
		(
			#{username}, 
			#{name}
		)
	</insert>


    <!--更新一条数据,根据id更新一条数据-->
    <update id="update" parameterType="com.example.demo.domain.Zhao_UserDO">
        update zhao_user
        <set>
            <if test="username != null">`username` = #{username},</if>
            <if test="name != null">`name` = #{name},</if>
        </set>
        where user_id = #{userId}
    </update>


    <!--根据id删除数据-->
    <delete id="remove">
		delete from zhao_user where user_id = #{value}
	</delete>


    <delete id="batchRemove">
        delete from zhao_user where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>


    <select id="listAllDept" resultType="long">
				select DISTINCT dept_id from zhao_user
	</select>
</mapper>